.container {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 100px;
 flex-direction: column;
 border-radius: 5px;
 border: 2px solid black;
 width: 50%;
 max-width: 500px;
 margin: 0 auto;
}

.instruction {
    text-align: center;
}